.first-section{
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px ;
 }
 .second-section{
    width: 100%;
    height: 40px;
    background-color: rgb(32,32,51);
     padding-left: 20px;
     padding-right: 20px;
     display: flex;
     align-items: center;
     color: white;
     justify-content: space-between;

 }
.location1{
height: 25px;

}
.flex{
display: flex;
}
h1,h2,h3,h4,h5,h6,p{
margin: 0px;
padding: 0px;
}
.search1{
margin-left: 50px;
margin-right: 50px;
}
.hero-image{
    width: 100%;
}
/* .category-box{
    width: 25%;
    height: 25%;
    background-color: rgb(39, 209, 61);
} */

.box{
    width: 22%;
    /* height: 300px; */
    background-color: white;
    padding: 10px;
    border: 0.01px solid rgb(216, 208, 208);
    
}
/* .one{
    background-color: antiquewhite;
} */
/* .two{
    background-color: blue;
}
.three{
    background-color: blueviolet;
}
.four{
    background-color: brown;
} */
.category-box{
    display: flex;

    justify-content: space-evenly;
    margin-top: -300px;
}
.item{
    width: 50%;
    margin-bottom: 7px;
   padding: 10px;

  

}
.item img{
    width: 100%;
}
.flex-wrap{
    flex-wrap: wrap;
   
    
}
/* .box1{
    padding:15px ;
} */

.product-category{
    display: flex;
    justify-content: space-between;
    /* height: 200px; */
            
}
.pb{
    width: 30%;
    /* height: 300px; */
    background-color: rgba(251, 248, 248, 0.901);
    padding: 8px;
    border: 0.01px solid rgb(255, 255, 255);
    margin-left: 20px;
}
.one{

    /* background-color: aqua; */
    width: 40%;
    /* height: 200px; */
    /* height: 300px; */
   


}
.two{
 /* background-color: blanchedalmond; */
}
.three{
/* background-color: blue; */
}

.three-1{
    height: 3%;
}
.three-2{
    height:5%;
    border: 0.4px solid rgb(158, 170, 171);
    border-radius: 3px;
    padding: 2px;
}
.three-4{
    border: 0.7 solid rgb(140, 76, 214);
}
.pd image{
    /* width: 100%; */
}
button{
    width: 80%;
    height: 35px;
    border-radius: 15px;
    background-color: orange;
}
/* .item img{
    width: 100%;
    height: 90%;
} */
.spe{
    width: 100%;
    height: 78%;
}.p{
    margin-right: 30px;
   border: 0.8px solid beige;
}
.portion-2{
   
    align-items: center;
}




    







